version: "3.8"

services:
  backend:
    build: ./backend
    container_name: sca_backend
    ports:
      - "8000:8000"
    environment:
      - QDRANT_URL=http://qdrant:6333
    volumes:
      - ./backend/uploaded_files:/app/uploaded_files
    depends_on:
      - qdrant

  qdrant:
    image: qdrant/qdrant:v1.2.1
    ports:
      - "6333:6333"
    volumes:
      - qdrant_storage:/qdrant/storage

volumes:
  qdrant_storage:
