fastapi
uvicorn[standard]
pydantic
python-multipart


qdrant-client        # Vector DB client

python-dotenv        # For reading .env files (optional but useful)


requests
sentence-transformers
numpy